.content {
  padding-bottom: 0 !important;
}

.subtitle {
  font-weight: normal;
  font-style: italic;
}

.iconRow {
  margin-top: 0.5em;
  display: flex;
  gap: 1em;
}

.iconRow svg {
  font-size: 1.3em;
}
