.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 0.5em;
  font-size: 0.8em;
  width: 100%;
}

@media (min-width: 360px) {
  .column {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .column {
    font-size: 1.2em;
  }
}
@media (min-width: 1200px) {
  .column {
    font-size: 1.3em;
  }
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  width: 100%;
}

.iconLine {
  gap: 1em;
  font-size: 1.5em;
}

.icon {
  display: block;
  line-height: 1em;
}

.icon > svg {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

svg.externalIcon {
  height: 0.5em;
  width: 0.5em;
  vertical-align: top;
  margin-inline-start: 0.2em;
}

.separator {
  margin: 0 0.25em;
}

/* Remember to update styles in header */

.profile {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.5em;
  gap: 0.5em;
}

@media (min-width: 768px) {
  .profile,
  .linksArea {
    margin-bottom: 0.7em;
  }
}

.nameWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-weight: 350;
  font-size: 3rem;
  line-height: 1em;
}

@media (max-width: 374px) {
  .name {
    font-size: 2.5rem;
  }
}

@media (max-width: 325px) {
  .name {
    font-size: 2rem;
  }
}

.img {
  border-radius: 50%;
}

.imgWrapper {
  width: 128px;
}

.linksArea,
.projectArea {
  padding: 0.5em;
}

.projectArea {
  max-width: 84vw;
}

.projectsHeader {
  text-align: center;
  font-size: 1.2em;
}

.projectList {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.projectCard {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  overflow: clip;
  background-color: var(--bg-color);
  border: 1px solid var(--fg-color);
  width: 200px;
}

.imgLink {
  display: block;
  line-height: 1em;
}

.projectImg {
  aspect-ratio: 1/2;
  height: 100px;
  width: 200px;
}

@media (min-width: 360px) {
  .projectCard {
    width: 220px;
  }

  .projectImg {
    height: 110px;
    width: 220px;
  }
}
@media (min-width: 768px) {
  .projectCard {
    width: 280px;
  }

  .projectImg {
    height: 140px;
    width: 280px;
  }
}
@media (min-width: 1200px) {
  .projectCard {
    width: 320px;
  }

  .projectImg {
    height: 160px;
    width: 320px;
  }
}

.projectHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5em;
  height: 1.6em;
}

/* https://youtu.be/4jXEuIHY9ic?t=47 */
.seeMore {
  white-space: nowrap;
}
