* {
  box-sizing: border-box;
}

a:not(.default-style) {
  color: inherit;
  text-decoration: none;
}

body,
html {
  padding: 0;
  margin: 0;
}

:root,
body {
  --notion-font: var(--sthom-body-font);
}

code {
  font-family: var(--sthom-code-font);
}

.notion-page-title-text,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sthom-heading-font);
  font-weight: 400;
}

body {
  font-family: var(--notion-font);
  overflow-x: hidden;
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

.searchInput {
  color: var(--fg-color);
  caret-color: var(--fg-color);
}

.full-motion {
  display: unset;
}

.reduced-motion {
  display: none;
}

@media (prefers-reduced-motion) {
  .full-motion {
    display: none;
  }

  .reduced-motion {
    display: unset;
  }
}

.goose-button {
  position: relative;
}

.goose-heart {
  position: absolute;
  top: -4em;
  padding: 0.2em;
  border-radius: 0.2em;
  width: 8em;

  animation-duration: 2s;
  animation-name: animate-heart-in;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}
.goose-heart.goose-heart-exit {
  animation-duration: 0.2s;
  animation-name: animate-heart-out;
}

@keyframes animate-heart-in {
  0% {
    opacity: 0;
    top: -1em;
  }
  25% {
    opacity: 1;
  }
  100% {
    top: -4em;
  }
}

@keyframes animate-heart-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
